
html{

}

body{
    background-color: #1f2937;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: whitesmoke;
   
    
}
img{
    width: 50px;
}

a{
    text-decoration: none;
    color: whitesmoke
}
.header{
    padding: 8px 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: bold;
    border: whitesmoke solid 1px;
    padding: 2px;
}

.links{
    display: flex;
    gap: 16px;
}

.hero{
    padding: 84px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    
}

.hero-info{
    width: 50%;
    
}

.hero-image-container{
    width: 50%;
    flex: 1;
    display: flex;
}

.hero-image{
    width: 100%;
    min-width: 300px;
}

.hero-title{
    font-size: 36px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
    border: none;
    border-radius: 0;
}

h3{
    font-size: 32px;
    font-weight: 700;
    padding: 24px;
}
.info{
    background-color: white;
    color: rgb(27, 27, 27);
    text-align: center;
}


.info-items{
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
    padding: 24px 150px;
}

.info-item{
    flex: 1;
}
.info-item img{
    border:#3882f6 solid;
    border-radius: 15px;
    width: 75%;
}
.info-title{
    margin: 0;
    padding: 48px;
}

.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 36px 200px;
}

.italic{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;

}

.source{
    text-align: right;
    font-weight: 900;
    padding-right: 48px;
}

.call{ 
    background-color: white;
    color: whitesmoke;
    padding: 130px 240px;
}

.card{
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 36px 84px;
    border-radius: 5px;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

button{
    padding: 8px 16px;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    color: whitesmoke;
}

.card button{
    border: whitesmoke solid ;
    box-shadow: none;
}

.my-h4{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
}